

nav{margin-bottom: 5%;}
a {text-decoration: none; color: white; }
h1{font-size: 400%;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;margin: 10px;}
nav img{width: 200px;height: 300px;float: left;margin-top: 5%;} 
span{color: rgb(184, 184, 0);font-style: oblique;font-weight: bolder;}
