.img1{
    width: 200px;
}

.fdiv img ,.fdiv h1{
    display: inline;

}
img{
    margin-left: 200px;
    padding-top: 15px;
 
}
h1{
    color: rgb(19, 114, 114);
    margin-left: 80px;
    font-family:sans-serif;
}
hr{
    width:100%;
    height: 5px;
   background-color: black;
}
h3{
    color:rgb(19, 114, 114);
    text-align: center;
    font-family:sans-serif;
}
fieldset {
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 60px;

    
}

.joinForm{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 60px;
}

input{
    margin-bottom: 10px;
    width: 88%;
    border: ridge 1px black;
   
}
textarea{
    width: 88%;
    border: ridge 1px black;
}




.sButton{
    background-color:rgb(19, 114, 114) ;
    color: white;
    margin-top: 15px;
    
    width: 200px;
    height: 20px;
}


footer{
    background-color:rgb(40, 133, 170);
    color: #ffffff;
    height: 200px;
   
}
.fTitle{
    margin-top: -43px;
    text-align: center;
}
.footerIcons{
    color: #ffffff;
    text-align: center;
    font-size: xxx-large;
}
.infoBy{
    margin-top: 45px;
    text-align: center;
}