
.navBar {
    list-style-type: none;
    height: 100px;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    font-size: 25px;
    display: inline-flex;

    
  }

  .navContent{
    text-align: center;
    margin-top: 17px;
    font-family: cursive;
    margin-right: 550px;
    
  }
  
  #rImg {
	  width:200px;
	  height: 200px;
	  margin-left: 20px ;
	  margin-top: 15px;
  }

  #rName{
	  margin-left:20px ;
	  font-family:serif;
	  margin-top: 15px;
  }

#star_rating svg {
	width: 1em;
	height: 1em;
	fill: currentColor;
	stroke: currentColor;
}
#star_rating label, #star_rating output {
	display: block;
	float: left;
	font-size: 2em;
	height: 1.2em;
	color: #036;
	cursor: pointer;
	/* Transparent border-bottom avoids jumping
	   when a colored border is applied
		 on :hover/:focus */
	border-bottom: 2px solid transparent;
}
#star_rating output {
	font-size: 1.5em;
	padding: 0 1em;
}
#star_rating input:checked ~ label {
	color: #999;
}
#star_rating input:checked + label {
	color: #036;
	border-bottom-color: #036;
}
#star_rating input:focus + label {
	border-bottom-style: dotted;
}
#star_rating:hover input + label {
	color: #036;
}
#star_rating input:hover ~ label,
#star_rating input:focus ~ label,
#star_rating input[id="star0"] + label {
	color: #999;
}
#star_rating input:hover + label,
#star_rating input:focus + label {
	color: #036;
}
#star_rating input[id="star0"]:checked + label {
	color: #ff2d21;
}
#star_rating [type="submit"] {
	float: none;
}

.footer{
    background-color:rgb(40, 133, 170);
    color: #ffffff;
    height: 300px;
    width: 100%;
}
.fTitle{
    font-size: -webkit-xxx-large;
    text-align: center;
    padding-top: 70px;
}
.footerIcons{
    color: #ffffff;
    text-align: center;
    font-size: x-large;
    padding-top: 50px;
    margin-left: 30px;
}
.infoBy{
    margin-top: 15px;
    text-align: center;
}